.text-center {
  color: var(--main-theme);
  background-color: var(--sky);
  position: relative;
  bottom: 0;
}

img,
svg {
  font-size: 40px;
  color: black;
  margin: 0 0.5rem;
  transition: transform 250ms;
  display: inline-block;
}

img,
svg:hover {
  transform: translateY(-2px);
}

img,
svg.github {
  color: #333;
}

img,
svg.twitter {
  color: #1da1f2;
}

img,
svg.linkedin {
  color: #0072b1;
}

img,
svg.toTop {
  color: var(--main-theme);
  margin-left: 300px;
}

.copyRight {
  margin-top: 20px;
}
