nav {
  background: gray;
}

a.navbar-brand {
  color: blue;
  font-size: 30px;
}

/* navbar links */
a.nav-link {
  color: blue;
  font-size: 20px;
}

.navbar-nav .nav-link .active {
  color: red;
  font-size: 20;
}

/* the nav links */
.navbar-nav .nav-link:hover {
  color: red;
}

.ms-auto.active-scroll-spy {
  color: black;
}
