.header {
  position: fixed;
  height: 90px;
  width: 100%;
  /* keeps about image behind navbar */
  z-index: 1;
  background-color: transparent;
}

.header.navbar {
  height: 100%;
}

.navbar-bg {
  background-color: var(--sky);
}

.navbar-bg-dark {
  background-color: grey;
}



.navbar-brand {
  color: var(--main-theme);
  font-size: 20px;
  font-weight: bold;
}

/* navbar links */
a.nav-link {
  color: var(--main-theme);
  font-size: 20px;
  font-weight: bold;
}

/* the nav links */
.navbar-nav .nav-link:hover {
  color: white;
}

.ms-auto.active-scroll-spy {
  color: white;
}


@media (max-width: 768px) {
  .navbar-bg {
    background-color: transparent;
  }
}
