.navbar {
  background: transparent;
  width: 100%;
  margin-top: -75px;
}



.navbar-bg {
  background-color: var(--sky);
}

.navbar-brand {
  color: var(--main-theme);
  font-size: 20px;
  font-weight: bold;
}

/* navbar links */
a.nav-link {
  color: var(--main-theme);
  font-size: 20px;
  font-weight: bold;
}

/* the nav links */
.navbar-nav .nav-link:hover {
  color: white;
}

.ms-auto.active-scroll-spy {
  color: white;
}
